*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ctn-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

body{
    background-color: aqua;
}


.navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.nav-link{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: rgb(255, 253, 253);
    border-radius: 7px;
    width: 7rem;
    text-align: center;
 
    margin:1rem;

}

.nav-link:hover{
    background-color: yellow;
    color: black;
    transition:  all ease 0.8s;

}
.container{
    display: flex;
    background-color: rgb(17, 54, 42);
    height: 300px;
    border-radius: 10px;
}
.card-subtitle{
    margin-top: 7rem;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: capitalize;
    font-size: 3rem;
}

.ctn-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
   color: white;
   font-size: 1.3rem;

}
.img-ctn{
  margin: auto;  
  

}
.img{
    width: 100%;
    border-radius: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
    
}